form {
    display: flex;
    justify-content: left;
    flex-direction: column;
}
label {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 5px;
  padding: 5px;
  font-size: small;
}
input {
    margin-bottom: 5px;
    height: 5px;
    padding-left: 5px;
  }
  .inputBox {
    display: flex;
    justify-content: right;
    align-items: right;
  }