ul {
    display: block;
}

.MainNavDiv {
    outline: 2px solid #0eea69;
    outline-offset: 0px;
    display: flex;
    justify-content: space-between;
    /* background-color: red */

}

.buttonTest {
    outline: 2px solid #d899ce;
    
    
}

.Homebutton {
    outline: 2px solid #460def;
}

.profile-dropdown {
    /* border: 1px; */
    outline: 1px solid #d56363;
}